# Raw and intermediate data
data/raw/
data/interim/
data/processed/
data/processed/lyrics_clean.*

# Copyrighted lyrics
**/lyrics/*.txt
**/lyrics/*.json
**/lyrics/*.csv
**/lyrics/*.parquet

# Models and caches
outputs/models/
.cache/
__pycache__/
*.pyc

# Environments
.env
.venv/
venv/
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

outputs/
*.Rproj.user
*.Rproj
*.dcf

# Documentation figures
docs/*.png

# Keep README images
!docs/UI_1.png
!docs/UI_2.png
!docs/UI_3.png
!docs/UI_5.png
!docs/UI_6.png
!docs/UI_7.png
!docs/UI_10.png
!docs/UI_12.png
