pandas
pyarrow
requests
python-dotenv
rapidfuzz
jupyter
numpy

scikit-learn
matplotlib
plotly

spacy
nltk
textstat
nrclex
sentence-transformers

networkx

datasets
huggingface-hub

duckdb

librosa
soundfile
audioread

umap-learn